<link rel="stylesheet" href="/css/footer.css">
<div class="footer">
    <div class="footer-content">
        <h1>MyLoveVerse.com</h1>
        <p>Eternalize Your Love, One Page at a Time.</p>
    </div>
    <p>&copy; 2023 MyLoveVerse. All Rights Reserved</p>
</div>
