<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/image/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Craft a custom love story book with MyLoveVerse. Choose avatars, answer questions, and let AI compose a unique book that reflects your bond. Create cherished moments with a tangible keepsake.">
    <meta name="keywords" content="MyLoveVerse, custom love story book, character avatars, AI composition, unique bond, cherished moments, tangible keepsake">
    <meta name="author" content="Ryan Rudd">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="MyLoveVerse - Craft Your Custom Love Story Book">
    <meta property="og:description" content="Craft a custom love story book with MyLoveVerse. Choose avatars, answer questions, and let AI compose a unique book that reflects your bond. Create cherished moments with a tangible keepsake.">
    <meta property="og:image" content="https://MyLoveVerse.com/image/logo.png">
    <meta property="og:image:alt" content="MyLoveVerse Logo">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://MyLoveVerse.com/">
    <meta property="twitter:title" content="Craft Your Personalized Love Story - MyLoveVerse">
    <meta property="twitter:description" content="Craft a custom love story book with MyLoveVerse. Choose avatars, answer questions, and let AI compose a unique book that reflects your bond. Create cherished moments with a tangible keepsake.">
    <meta property="twitter:image" content="https://MyLoveVerse.com/image/logo.png">
    <meta property="twitter:image:alt" content="MyLoveVerse Logo">
    <title>MyLoveVerse - Craft Your Custom Love Story Book</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.boot.css">

</head>
