<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/pages/home.css">
<%- include('../partials/header.ejs') %>

    <body>
        <%- include('../partials/navbar.ejs') %>
            <main>
                <div class="hero">
                    <h1>Crafting Your Unique Love Story Book</h1>
                    <p>Craft your unique love story into an enchanting book, capturing every magical moment of your journey together.</p>
                    <a href="/get-started">Get your book!</a>
                </div>
                <h1>Why us?</h1>
                <div class="text-section-adj-img">
                    <img src="/image/landing/why-us.png">
                    <p>Capture the essence of your love story with personalized avatars, guided reflections, and AI-crafted narratives. Transform your creation into a tangible keepsake, giving life to your cherished moments. Choose MyLoveVerse for an unforgettable and authentic love story book.</p>  
                </div>
                <h1 >How It Works</h1>
                <div class="text-section-adj-img">
                    <p>Select character avatars, answer meaningful questions about your journey, and watch as our AI composes a heartfelt book capturing your unique love story. Review, edit, and print your personalized keepsake, ready to be shared and cherished for a lifetime. Unveil the beauty of your love story with MyLoveVerse.</p>  
                    <img src="/image/landing/gears.png">
                </div>
                <h1>Who we are?</h1>
                <div class="text-section-adj-img">
                    <img src="/image/landing/team.png">
                    <p>Introducing MyLoveVerse, the platform that lets you craft a custom love story book like no other. Choose character avatars, answer meaningful questions about your journey together, and let our AI compose a beautifully written book that reflects your unique bond. With MyLoveVerse, you can turn your cherished moments into a tangible keepsake, ready to be printed and treasured forever.</p>  
                </div>
                <%- include('../partials/footer.ejs') %>

            </main>
    </body>

</html>
