main {
    flex-direction: column;
}
.wrapper
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.side-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    width: 30%;
    background-color: #1c6a6d;
    height: 600px;
    border-radius: 11px;
    align-items: center;
    overflow: hidden;
}

.side-bar>h1 {
    position: absolute;
    text-align: center;
    margin: 10px;
    font-size: 28px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.514);
    z-index: 2;
}

.side-bar>p {
    position: absolute;
    top: 35%;
    text-align: center;
    margin: 10px;
    font-size: 22px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.514);
    z-index: 2;
}

.side-bar>.backgroud-image {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    background: url('/image/textures/tiles.png');
    background-size: cover;
    background-size: 155px;
    filter: contrast(.7) brightness(.7);
    border: none;
}

.info-bar {
    display: flex;
    width: 65%;
    height: 600px;
    background-color: rgb(243, 243, 243);
    margin-left: 2.5%;
    border-radius: 11px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.274);

}
.info-bar > form
{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.info-bar > *
{
    text-align: center;
}
.signin-form-container
{
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
    align-items: center;

}
.signin-form-container input
{
    border: 2px solid #1c6a6d;
    padding-left: 15px;
    border-radius: 15px;
    outline: none;
    width: 60%;
    height: 35px;
    background-color: white;
    margin: 10px;
}
.sign-in-options a 
{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.363);
    margin-right: 15px;
    margin-left: 15px;
}
.sign-in-options button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #1c6a6d;
    color: white;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.sign-in-options button:hover {
    background-color: #155a5d;
}
/* Add styles for the password strength indicator */
.password-strength {
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
}

.password-strength-weak {
    color: red;
}

.password-strength-medium {
    color: orange;
}

.password-strength-strong {
    color: green;
}

/* Add styles for the password instructions */
.password-instructions {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    list-style: none !important;
}

.password-instructions ul {
    list-style: none !important;
    padding-left: 20px;
}

.password-instructions ul li {
    margin-bottom: 5px;
    line-height: 1.4;
}
@media screen and (max-width: 690px) {
    .side-bar {
        display: none;
    }
    .info-bar
    {
        width: 100%;
        margin-right: 2.5%;

    }
}